body {
  background-color: green;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: start;
  margin: 20px;
}

.card {
  width: 100px; 
  height: 150px; 
  background-color: white;
  border: 1px solid #ccc;
padding: 2px;
  margin-right: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.card p {
  text-align: center;
  font-size: 23px;
}

.palo1 {
  margin-top: 0px;
  margin-right: 70px;
}

.palo2 {
  position: absolute;
  margin-left: 75px;
  margin-bottom: 5;
}

.red {
  color: red;
}